*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.weather-app{
    background-color: #f8f8ff;
    padding-bottom: 50px;
    transition: 0.3s;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav h1{
    color: blueviolet;
}

.search-form{
    flex: 1;
    max-width: 600px;
    height: 40px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #a5a5a5;
}

.search-form input{ 
    flex: 1;
    outline: none;
    border: none;
    font-size: 18px;
    background-color: transparent;
    
}

.search-form button{
    background-color: transparent;
    border: none;
}

.search-form button i{
    color: rgb(98, 97, 97);
    font-size: 20px;
}


.light-and-dark-toggle{
    width: 60px;
    height: 30px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 5px #a5a5a5;
    position: relative;
}

.circle{
    width: 26px;
    aspect-ratio: 1/1;
    background-color: blueviolet;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 4px;
    transition: 0.2s;
}

.bi-moon-stars-fill{
    display: none;
}


.weather-banner{
    height: 400px;
    margin-top: 20px;
    border-radius: 20px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(159, 101, 189, 0.823);
}

.weather-banner::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(4,249,59,0) 0%, rgba(159, 24, 227, 0.564) 100%);
}

.main-weather-info-wrapper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: flex-end;
    width: 100%;
    bottom: 0;
    z-index: 2;
    color: #fff;
    padding: 30px 40px;
    font-size: 20px;
}


.main-weather-info > img{
    width: 80px;
    height: 80px;
    margin-left: -25px;
    display: none;
}

.weather-state-location{
    display: none;
}

.weather-state-celcius{
    font-size: 130px;
    font-weight: 400;
    margin-left: -5px;
    display: none;
}

.main-weather-date{
    text-align: right;
}

.main-weather-date > p:first-child{
    margin-bottom: 10px;
    font-weight: 600;
}

.placeholder-main-info{
    display: none;
}

.current-weather-add-info{
    grid-area: add-info;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    padding: 30px;
    border: 1px solid #ad9ec9;
    box-shadow: 0px 0px 30px rgba(159, 101, 189, 0.823);
}

.add-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-info-item{
    display: flex;
    align-items: center;
}

.add-info-item p:first-child{
    font-size: 18px;
    margin-bottom: 5px;
}

.add-info-item i{
    font-size: 40px;
    margin-right: 15px;
    color: blueviolet;
}

.add-info:last-child{
    border-left: 1px solid #ad9ec9;
    align-items: flex-end;
}

.current-weather-indicator{
    grid-area: indicator;
    background: linear-gradient(180deg, rgba(133,144,255,1) 0%, rgba(166,57,241,1) 100%);
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(159, 101, 189, 0.823);
}

.current-weather-hourly{
    grid-area: hourly;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
    border: 1px solid #ad9ec9;
    box-shadow: 0px 0px 30px rgba(159, 101, 189, 0.823);
}

.weather-additional-info{
    height: 550px;
    margin-top: 50px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "add-info hourly hourly"
        "add-info hourly hourly"
        "indicator hourly hourly"
        "indicator hourly hourly"
        "indicator hourly hourly"
    ;
}

.current-weather-indicator{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: space-between;
    align-content: center;
    grid-template-rows: 200px;
    padding: 20px;
    gap: 20px;
}

.current-weather-indicator > div{
    border-radius: 50%;
    background-color: #fff;
}

.current-weather-indicator > div:first-child{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    background-image: url("../images/air-pressure.png");
}

.current-weather-indicator > div:first-child > p{
    font-size: 14px;
    color: blueviolet;
}

.current-weather-indicator > div:last-child{
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/compass.svg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.wind-arrow{
    width: 2px;
    height: 85px;
    background-color: hwb(0 29% 71%);
    position: relative;
    transition: 0.3s;
}

.wind-arrow i{
    position: absolute;
    top: -10px;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%) ;
}

.toggle-active{
    left: calc(100% - 30px);
}


.darkmode{
    background-color: #4f4169;
}

.darkmode nav h1{
    color: #fff;
}
.darkmode .weather-banner{
    box-shadow: 0px 0px 30px rgba(195, 162, 212, 0.823);
    
}

.day-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.day-info > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-info img{
    width: 45px;
    aspect-ratio: 1/1;
}

.day-info h4{
    font-weight: 400;
    margin-top: 20px;
}

#map{
    border-radius: 10px;
}

.map-wrapper{
    padding: 40px 20px 20px 20px;
    background-color: #fff;
    margin-top: 40px;
    border-radius: 10px;
}